$bg-dark: #232931;
$bg-secondary: #393e46;
$bg-bar1: #087EE1;
$bg-bar2: #05E8BA;
$text-light: #f6e9e9;
$text-disabled: gray;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: $bg-dark;
    font-family: 'Ubuntu', sans-serif;
    color: $text-light;
}

.container {
    margin: 0 auto;
    width: 1180px;
    max-width: 100%;
    height: 100vh;
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.heading {
    text-align: center;
    line-height: 80px;
}

select {
    font-family: 'Ubuntu', sans-serif;
    background: $bg-secondary;
    color: $text-light;
    border: none;
    outline: none;
    padding: .75rem 1.4rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
select:disabled {
    color: $text-disabled;
}

.btn {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background: $bg-secondary;
    color: $text-light;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: .75rem 1.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s ease;

    &:hover:not(.btn-disabled) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    }
    
    &:active:not(.btn-disabled) {
        transition: none;
        transform: scale(0.97);
    }
}

.btn-disabled {
    color: $text-disabled;
    pointer-events: none;
}

.bar-container {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 2px solid rgb(126, 126, 126);

    .bar {
        height: 100%;
        flex: 1;
        max-width: 40px;
        background: linear-gradient($bg-bar2, $bg-bar1);
        border: 1px solid $bg-dark;
        border-radius: 3px;
        transition: .1s;
    }
}

// change bar direction
.bar-container.active {
    border-top: 2px solid rgb(126, 126, 126);
    border-bottom: 0;
    align-items: flex-start;
}

.effect-buttons {
    display: flex;

    .new-array {
        flex: 1;
        margin-right: .25rem;
    }
}

.nav-container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-group {
    display: flex;
    justify-content: space-between;
    margin: .75rem 0;

    label {
        width: 100px;
    }

    input {
        flex: 1;
    }
}


@media screen and (max-width: 560px) {
    .nav-container {
        flex-direction: column;
        align-items: stretch;
    }

    .sliders {
        margin: 1rem 0;
    }

    .sort-buttons {
        display: flex;
        flex-direction: column;

        .btn {
            margin: .25rem 0;
        }
    }

}