* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #232931;
  font-family: 'Ubuntu', sans-serif;
  color: #f6e9e9;
}

.container {
  margin: 0 auto;
  width: 1180px;
  max-width: 100%;
  height: 100vh;
  padding: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.heading {
  text-align: center;
  line-height: 80px;
}

select {
  font-family: 'Ubuntu', sans-serif;
  background: #393e46;
  color: #f6e9e9;
  border: none;
  outline: none;
  padding: .75rem 1.4rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

select:disabled {
  color: gray;
}

.btn {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background: #393e46;
  color: #f6e9e9;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: .75rem 1.4rem;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.btn:hover:not(.btn-disabled) {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.btn:active:not(.btn-disabled) {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.btn-disabled {
  color: gray;
  pointer-events: none;
}

.bar-container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 2px solid #7e7e7e;
}

.bar-container .bar {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#05E8BA), to(#087EE1));
  background: linear-gradient(#05E8BA, #087EE1);
  border: 1px solid #232931;
  border-radius: 3px;
  -webkit-transition: .1s;
  transition: .1s;
}

.bar-container.active {
  border-top: 2px solid #7e7e7e;
  border-bottom: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.effect-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.effect-buttons .new-array {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: .25rem;
}

.nav-container {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: .75rem 0;
}

.slider-group label {
  width: 100px;
}

.slider-group input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 560px) {
  .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .sliders {
    margin: 1rem 0;
  }
  .sort-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sort-buttons .btn {
    margin: .25rem 0;
  }
}
/*# sourceMappingURL=style.css.map */